body{
    font-family:monospace;
    background-color:rgb(255, 255, 255);
     /* background-color:#595a5c ;  */
     /* background-image:url(images/1862683.jpg);  */
    color: #000000;
    font-size: 15px;
    
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

ul.menu {
    background-color: #344cb8;
    height: 50px;
}
ul.menu > li{
    float: left;
    position: relative;
    
}
ul.menu > li > a{
    display: block;
    font-size: 14px;
    color:#fff;
    padding: 0 15px;
    line-height: 50px;
    border-right:  1px solid rgba(0,0,0,.1 );
}
ul.menu ul{
    background:#5d1a86;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 0;
    opacity: 0;
    transition: 250ms all;
    visibility: hidden;
}
ul.menu ul li a{
    display: block;
    padding: 7px 12px;
    color: #fff;
    font-size: 14px;
}
ul.menu > li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 50px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 50px;
}
p{
    color: #000000;
    font-size: 20px;
}
.ornek{
    width: 900px;
    margin:auto;
}
.sola-kaydir{
float:left;
padding:0 20px 20px 0;
}